/* section-1  */
.section-1 {
    background: var(--color-background1);
    text-align: center;
}
.section-1 .row {
    padding: 30px 0;
}

.section-1 .inner-title {
    font-size: 88px;
    font-weight: 600;
    font-family: var(--font-title);
    margin-bottom: 50px;
    color: var(--coler-footer);
}

.section-1 .inner-desc {
    font-size: 18px;
}
/* end section-1  */

/*  section-2  */
.section-2 {
    background: var(--color-background1);
}

.section-2 .row {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.section-2 .inner-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-2 .inner-content .inner-new {
    padding: 30px 0;
    font-size: 15px;
    color: var(--color-button);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-2 .inner-title {
    font-size: 48px;
    font-family: var(--font-title);
    font-weight: 600;
    padding: 20px 0;
    color: var(--coler-footer);
}

.section-2 .inner-desc1 {
    font-weight: bold;
}
/* end section-2  */

/*  section-3  */
.section-3 {
    background-color: var(--color-background1);
}

.section-3 .row {
    padding: 50px 0;
}

.section-3 .inner-more {
    font-size: 48px;
    font-family: var(--font-title);
    font-weight: 600;
    padding: 20px 0;
    color: var(--coler-footer);
}

.section-3 .inner-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-3 .inner-box {
    width: 21%;
    margin-bottom: 20px;
}

.section-3 .inner-cate {
    margin-bottom: 10px;
    display: block;
    line-height: 1.3;
    opacity: 0.6;
    font-size: 13px;
}

.section-3 .inner-title {
    margin-bottom: 15px;
    padding: 0;
    font-size: 15px;
    color: var(--coler-footer);
    font-weight: bold;
    font-family: var(--font-title);
}

.section-3 .inner-price {
    font-weight: 600;
    margin-bottom: 20px;
}
/* end section-3  */

/* section 4 */
.section-4 {
    background: var(#ffffff);
}

.section-4 .row {
    padding: 80px 0;
    text-align: center;
}

.section-4 .inner-title {
    font-size: 48px;
    color: var(--coler-footer);
    font-weight: 600;
    font-family: var(--font-title);
    padding: 30px 0;
}

.section-4 .inner-desc {
    font-size: 18px;
}
/* End section 4 */
