/*Sec1*/
.contact{
    background: var(--color-background1);
    text-align: center;
}
.contact .inner-title {
    font-size: 88px;
    font-weight: 600;
    font-family: var(--font-title);
    margin-bottom: 50px;
    color:  #26272b;
}
.contact .row{
    padding: 50px 0;
}
/*Sec2*/
.info .inner-head,.info .inner-main,.info .inner-icon{
    flex: 1;
    margin: 0 10px;
}
.info .inner-main{
    flex: 3;
}
.info .inner-icon{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;

}
.info{
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-background1);
    padding: 50px;
}
.info .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}
form{
    width: 100%;
}
.mb-3{
    width: 100%;
    margin-bottom: 15px;
}
.form-control, .message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    margin-top: 15px;
}
.info .inner-title{
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-title);
    margin-bottom: 50px;
    color: var(--coler-footer);
    padding: 10px;
}
/*Sec3*/
.event{
    background-color: var(--coler-footer);
    color: #ffffff;
    padding: 20px;
    height: 200px;
}
.event .button{
    border:1px solid #ffffff;
    color: #ffffff;
}
.event .button:hover {
    background: #ffffff;
    color: var(--coler-footer);
}
.event .row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 40px ;
}
.event .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.event .inner-event{
    flex: 17;
    margin 0 10px;
}
.event .contactme{
    flex: 5;
    margin: 30px;
}
/*Sec4*/
.btftn {
    background: #ffffff;
    text-align: center;
    height: 180px;
    margin: 40px 40px;
}
.btftn .inner-title{
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-title);
    margin-bottom: 20px;
    color: var(--coler-footer);
}
/**/

.info {
    background: var(--color-background1);
}

.info .row {
    display: flex;
}


